#header {
    min-height: 5vh;
    padding: 1rem;
    color: rgb(118, 166, 230);
    background-color: rgb(34, 34, 34);

    h1 {
        word-wrap: break-word;
        word-spacing: 4px;
        letter-spacing: 1px;
    }

    .red {
        color: rgb(255, 68, 68);
    }
}