#footer {
  min-height: 5vh;
  background-color: black;
  color: var(--light-blue);
  padding: 1rem;

  p {
    word-spacing: 7px;
    letter-spacing: 1px;
    font-weight: 600;

    span {
      color: var(--light-blue);
      font-weight: bold;
    }

    .red {
      color: var(--light-orange);
    }
  }
}
