#nav {
  padding: var(--m);
  border-bottom: 1px solid lightgray;
  background-color: rgb(250, 250, 250);

  ul {
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 0;
    }

    li {
      list-style: none;
      @media (max-width: 600px) {
        margin: var(--m) 0;
      }

      a {
        margin: 0 var(--l);
        text-decoration: none;
        color: var(--light-blue);
        font-weight: 600;

        @media (max-width: 600px) {
          margin: 0;
        }

        &:hover {
          color: darkblue;
        }
      }
    }
  }
}
