/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    box-sizing: border-box;
}

.active {
    color: red;
}
